<div class="page-wrapper">
  <mat-card class="form-container">
    <h2 class="form-title">{{ editMode ? 'Kullanıcı Düzenle' : 'Kullanıcı Kaydı' }}</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-grid">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Sicil</mat-label>
          <input matInput formControlName="sicil" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Şifre</mat-label>
          <input matInput type="password" formControlName="sifre" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Ad</mat-label>
          <input matInput formControlName="ad" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Soyad</mat-label>
          <input matInput formControlName="soyad" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Ünvan</mat-label>
          <input matInput formControlName="unvan" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Ünite</mat-label>
          <mat-select formControlName="unite" required>
            <mat-option *ngFor="let u of uniteList" [value]="u">{{ u }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="rol" required>
            <mat-option *ngFor="let r of roles" [value]="r">{{ r }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="button-group">
        <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="form.invalid">
          {{ editMode ? 'Güncelle' : 'Kayıt Ol' }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
